.attack-3, .attack-2, .attack-1, .run-l0, .run-1, 
.run-2, .run-3, .run-4, .run-l1, .run-l2, 
.run-l3, .run-l4
{ display: inline-block; background: url('png.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.attack-3 { background-position: -2px -0px; width: 699px; height: 418px; }
.attack-2 { background-position: -2px -420px; width: 618px; height: 391px; }
.attack-1 { background-position: -2px -813px; width: 402px; height: 343px; }
.run-l0 { background-position: -2px -1158px; width: 402px; height: 343px; }
.run-1 { background-position: -2px -1503px; width: 398px; height: 375px; }
.run-2 { background-position: -2px -1880px; width: 398px; height: 375px; }
.run-3 { background-position: -2px -2257px; width: 398px; height: 375px; }
.run-4 { background-position: -2px -2634px; width: 398px; height: 375px; }
.run-l1 { background-position: -2px -3011px; width: 398px; height: 375px; }
.run-l2 { background-position: -2px -3388px; width: 398px; height: 375px; }
.run-l3 { background-position: -2px -3765px; width: 398px; height: 375px; }
.run-l4 { background-position: -2px -4142px; width: 398px; height: 375px; }

<div class="attack-3"></div>
<div class="attack-2"></div>
<div class="attack-1"></div>
<div class="run-l0"></div>
<div class="run-1"></div>
<div class="run-2"></div>
<div class="run-3"></div>
<div class="run-4"></div>
<div class="run-l1"></div>
<div class="run-l2"></div>
<div class="run-l3"></div>
<div class="run-l4"></div>