    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    min-height: 63vh;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main {
    width: 30vw;
    min-width: 400px;
    height: 57vh;
    min-height: 357px;
    border: 1px solid bisque;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

.hover {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    background-color: #FFE866;
    font-family: 'Lobster', 'Arial', cursive;
    font-size: 30px;
    text-align: center;
    line-height: 300px;
    text-shadow: 1px 2px #5d5d5d;
    opacity: 0;
    color: rgba(255, 255, 255, 0);
    display: none; //poprawić żeby działało jak na pustym div
    &:hover {
        opacity: 0.5;
        color: rgba(255, 255, 255, 1);
    }
}


/*drowing banana*/

.banana {
    height: 200px;
    width: 240px;
    position: relative;
    margin-top: 70px;
    margin-left: 25px;
    border: 3px solid #B37E15;
    border-radius: 200px 90px 300px 200px;
    box-shadow: inset -2px -2px 3px #B37E15;
    background-image: linear-gradient(left top, #F9DC75 57%, #F3C23B 63%, #ECB82B 70%, #E6CE56 74%, #D7A227 83%, #B37E15 96%);
    background-image: -o-linear-gradient(left top, #F9DC75 57%, #F3C23B 63%, #ECB82B 70%, #E6CE56 74%, #D7A227 83%, #B37E15 96%);
    background-image: -moz-linear-gradient(left top, #F9DC75 57%, #F3C23B 63%, #ECB82B 70%, #E6CE56 74%, #D7A227 83%, #B37E15 96%);
    background-image: -webkit-linear-gradient(left top, #F9DC75 57%, #F3C23B 63%, #ECB82B 70%, #E6CE56 74%, #D7A227 83%, #B37E15 96%);
    background-image: -ms-linear-gradient(left top, #F9DC75 57%, #F3C23B 63%, #ECB82B 70%, #E6CE56 74%, #D7A227 83%, #B37E15 96%);
    background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0.57, #F9DC75), color-stop(0.63, #F3C23B), color-stop(0.7, #ECB82B), color-stop(0.74, #E6CE56), color-stop(0.83, #D7A227), color-stop(0.96, #B37E15));
    transform: rotate(-8deg);
}

.banana:before {
    content: "";
    width: 200px;
    height: 171px;
    display: block;
    z-index: 1;
    padding: 25px;
    background: #f9dc74;
    position: absolute;
    left: -10px;
    top: -4px;
    border-radius: 200px 20px 300px 200px;
}

.banana:after {
    content: "";
    width: 200px;
    height: 171px;
    display: block;
    z-index: 2;
    padding: 25px;
    background: #fff;
    position: absolute;
    left: -20px;
    top: -18px;
    border-radius: 200px 20px 300px 200px;
}

//nadaje kształu końcówce
.shape {
    width: 60px;
    height: 60px;
    z-index: 2;
    display: block;
    background: #fff;
    position: absolute;
    left: -29px;
    top: 113px;
    border-radius: 200px;
}

.banana-end {
    width: 10px;
    height: 21px;
    display: block;
    border-radius: 20px 10px 10px 20px;
    position: absolute;
    z-index: 3;
    top: 145px;
    left: 20px;
    transform: rotate(16deg);
    background-image: linear-gradient(left top, #71571F 33%, #5E4616 48%, #1F1603 84%);
    background-image: -o-linear-gradient(left top, #71571F 33%, #5E4616 48%, #1F1603 84%);
    background-image: -moz-linear-gradient(left top, #71571F 33%, #5E4616 48%, #1F1603 84%);
    background-image: -webkit-linear-gradient(left top, #71571F 33%, #5E4616 48%, #1F1603 84%);
    background-image: -ms-linear-gradient(left top, #71571F 33%, #5E4616 48%, #1F1603 84%);
    background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0.33, #71571F), color-stop(0.48, #5E4616), color-stop(0.84, #1F1603));
}

.banana-top {
    height: 45px;
    width: 25px;
    border-radius: 15px 5px 5px 5px;
    position: absolute;
    left: 175px;
    top: -40px;
    z-index: 3;
    transform: rotate(-16deg);
    border-right: 3px solid #B37E15;
    background-image: linear-gradient(left top, #CDCA0C 66%, #FFC916 100%);
    background-image: -o-linear-gradient(left top, #CDCA0C 66%, #FFC916 100%);
    background-image: -moz-linear-gradient(left top, #CDCA0C 66%, #FFC916 100%);
    background-image: -webkit-linear-gradient(left top, #CDCA0C 66%, #FFC916 100%);
    background-image: -ms-linear-gradient(left top, #CDCA0C 66%, #FFC916 100%);
    background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0.66, #CDCA0C), color-stop(1, #FFC916));
}

.eye {
    width: 20px;
    height: 22px;
    position: absolute;
    background: #fff;
    z-index: 3;
    border-radius: 50%;
    border: 2px solid black;
}

.right {
    left: 181px;
    top: 46px;
}

.left {
    left: 208px;
    top: 48px;
}

.eye-ball {
    width: 15px;
    height: 15px;
    position: absolute;
    background: #000;
    z-index: 3;
    border-radius: 50%;
}

//ustawić zrenice
//#right{
//    left: 181px;
//    top: 46px; 
//}
//
//#left{
//    left: 208px;
//    top: 48px;
//}
.nose {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    border-top: 2px solid #000;
    left: 199px;
    top: 70px;
}

.smile {
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    border-bottom: 8px solid #000;
    left: 191px;
    top: 68px;
}

.leg-left {
    width: 24px;
    height: 74px;
    position: absolute;
    z-index: -1;
    border-bottom: 12px solid #000;
    border-right: 8px solid #000;
    left: 78px;
    top: 189px;
    border-radius: 5px;
    transform: rotate(16deg);
}

.leg-right {
    width: 24px;
    height: 90px;
    position: absolute;
    z-index: 3;
    border-bottom: 12px solid #000;
    border-left: 8px solid #000;
    left: 130px;
    top: 175px;
    border-radius: 5px;
}

.hand {
    width: 56px;
    height: 73px;
    position: absolute;
    z-index: 4;
    background-size: cover;
}

.hand-left {
    left: 102px;
    top: 81px;
    background-image: url(../img/left.png);
    transform: rotate(18deg);
}

.hand-right {
    left: 211px;
    top: 106px;
    background-image: url(../img/right.png);
    transform: rotate(20deg);
}


/* end banana drowing*/


/*writing area*/

.write {
    position: relative;
    height: 200px;
    width: 300px;
    background: rgba(98, 125, 77, 1);
    background: -moz-linear-gradient(top, rgba(98, 125, 77, 1) 4%, rgba(98, 125, 77, 1) 45%, rgba(31, 59, 8, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(4%, rgba(98, 125, 77, 1)), color-stop(45%, rgba(98, 125, 77, 1)), color-stop(100%, rgba(31, 59, 8, 1)));
    background: -webkit-linear-gradient(top, rgba(98, 125, 77, 1) 4%, rgba(98, 125, 77, 1) 45%, rgba(31, 59, 8, 1) 100%);
    background: -o-linear-gradient(top, rgba(98, 125, 77, 1) 4%, rgba(98, 125, 77, 1) 45%, rgba(31, 59, 8, 1) 100%);
    background: -ms-linear-gradient(top, rgba(98, 125, 77, 1) 4%, rgba(98, 125, 77, 1) 45%, rgba(31, 59, 8, 1) 100%);
    background: linear-gradient(to bottom, rgba(98, 125, 77, 1) 4%, rgba(98, 125, 77, 1) 45%, rgba(31, 59, 8, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=0);
    border-bottom: 4px solid rgb(192, 192, 192);
    box-shadow: 0px 5px 0px 0px rgb(216, 216, 216);
    margin: 20px auto 100px auto;
    font-family: 'Pangolin', cursive;
    color: #fff;
    font-size: 37px;
}

/*animated div*/
.wizard{
    position: absolute;
    height: 70px;
    width: 132px;
    left: 219px;
    top: 126px;
    background-image: url('../img/wizard.png'); 
    background-position: 0px 672px;
}

.animation{
    animation: walk 1s steps(4) infinite, way 7s 1 ease-in-out, wisper 700ms 7s steps(3), stay 100ms 7.5s; 
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-position: 0px 740px;
}

@keyframes walk
{
    0%{ background-position: 0 -600px;}
    100%{ background-position: 0 -900px;}
}

@keyframes way
{
  0% { transform:translateX(0);}
  100% { transform:translateX(-220px); }
}

@keyframes wisper
{
      0%{ background-position: 0 -1062px;}
    100%{ background-position: 0 -845px;} 
}

@keyframes stay
{
   0%{ background-position: 0 -1062px;} 
 100%{ background-position: 0 -1062px;}
}

canvas{
    height: 170px;
    width: 240px;
}

.control{
    height: 50px;
    width: 100px;
    float: right;
    margin-right: 10px;
}