@import 'modules/colors';
footer{
    min-height: 7vh;
    width: 100%;
    background-color: #5d5d5d;
    color: #fff;
    
    div{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 20px 0 20px;
    font-family: 'Pangolin', cursive;
        p{
            float: left;
            padding: 5px 15px 0 0;
        }
        em{
            float: right;
        }
        
        a{
            text-decoration: none;
            color: #fff;
            font-size: 30px;
            margin-right: 5px;
        }
    }
}