header {
  width: 100%;
  height: 25vh;
  text-align: center;
  color: #5d5d5d;
}

header h1 {
  font-size: 10vh;
  margin-top: 5vh;
  font-family: 'Lobster', 'Arial', cursive;
}

header em {
  font-size: 4vh;
  font-family: 'Pangolin', cursive;
}

header em:after {
  content: '';
  border-bottom: 3px solid #617dbb;
  width: 10em;
  display: block;
  margin: 0 auto; 
  animation: grow 6s 1 ease;
}

@keyframes grow {
  0% {
    width: 1em; }
  100% {
    width: 10em; } 
}

.fadein {
  animation: fadein 8s 1 ease; 
}

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } 
}