@mixin animation($value...){
    -webkit-animation: $value;
    -moz-animation: $value;
    animation: $value;
}

@mixin gradient-write($color1, $color2){
    background: $color1;
    background: -moz-linear-gradient(top, $color1 4%, $color1 45%, $color2 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(4%, $color1), color-stop(45%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(top, $color1 4%, $color1 45%, $color2 100%);
    background: -o-linear-gradient(top, $color1 4%, $color1 45%, $color2 100%);
    background: -ms-linear-gradient(top, $color1 4%, $color1 45%, $color2 100%);
    background: linear-gradient(to bottom, $color1 4%, $color1 45%, $color2 100%);
}

@mixin filter-write($color1, $color2){
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=0);
}

@mixin gradient-banana($color1, $color2, $color3, $color4, $color5, $color6){
    background-image: linear-gradient(left top, $color1 57%, $color2 63%, $color3 70%, $color4 74%, $color5 83%, $color6 96%);
    background-image: -o-linear-gradient(left top, $color1 57%, $color2 63%, $color3 70%, $color4 74%, $color5 83%, $color6 96%);
    background-image: -moz-linear-gradient(left top, $color1 57%, $color2 63%, $color3 70%, $color4 74%, $color5 83%, $color6 96%);
    background-image: -webkit-linear-gradient(left top, $color1 57%, $color2 63%, $color3 70%, $color4 74%, $color5 83%, $color6 96%);
    background-image: -ms-linear-gradient(left top, $color1 57%, $color2 63%, $color3 70%, $color4 74%, $color5 83%, $color6 96%);
    background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0.57, $color1), color-stop(0.63, $color2), color-stop(0.7, $color3), color-stop(0.74, $color4), color-stop(0.83, $color5), color-stop(0.96, $color6));
}

@mixin end($color1, $color2, $color3){
    background-image: linear-gradient(left top, $color1 33%, $color2 48%, $color3 84%);
    background-image: -o-linear-gradient(left top, $color1 33%, $color2 48%, $color3 84%);
    background-image: -moz-linear-gradient(left top, $color1 33%, $color2 48%, $color3 84%);
    background-image: -webkit-linear-gradient(left top, $color1 33%, $color2 48%, $color3 84%);
    background-image: -ms-linear-gradient(left top, $color1 33%, $color2 48%, $color3 84%);
    background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0.33, $color1), color-stop(0.48, $color2), color-stop(0.84, $color3));
}

@mixin top($color1, $color2){
    background-image: linear-gradient(left top, $color1 66%, $color2 100%);
    background-image: -o-linear-gradient(left top, $color1 66%, $color2 100%);
    background-image: -moz-linear-gradient(left top, $color1 66%, $color2 100%);
    background-image: -webkit-linear-gradient(left top, $color1 66%, $color2 100%);
    background-image: -ms-linear-gradient(left top, $color1 66%, $color2 100%);
    background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0.66, $color1), color-stop(1, $color2));
}